section {
    float: left;
    width: 40%;
    margin: 1% 1%;
}

aside {
    float: left;
    width: 40%;
    margin: 1% 1%;
    background-color: blanchedalmond;
}

section > img {
    float: left;
}